:root {
    --padding-multiplier: 0.6em;
}

.category-container {
    padding: 0 calc(1.8 * var(--padding-multiplier)) var(--padding-multiplier) calc(1.8 * var(--padding-multiplier));
}
.item-card {
    height: 60px;
    line-height: 60px;
    margin-bottom: var(--padding-multiplier);
    width: 100%;
}
.item-card > * {
    height: 100%;
}

.flex-parent {
    padding: 0 16px;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-parent button {
    padding: 5px;
}
.flex-parent > svg {
    margin: 5px;
}

