{% extends "FancyLists/base.html" %}

{% block content %}
    <div class="row">
        <div class="large-12 columns">
            <h1>{% block pageTitle %}{% endblock %}</h1>
            {% block pageSubTitle %}{% endblock %}
            <form action="{% block formAction %}{% endblock %}" method="post">
                {% block formContent %}{% endblock %}
                {% csrf_token %}
                <input type="submit" value="{% block saveButtonText %}{% endblock %}" class="button">
                <a href="{% block cancelURL %}{% endblock %}" class="button">Cancel</a>
            </form>
        </div>
    </div>
{% endblock %}