{% extends "FancyLists/edit_base.html" %}

{% block pageTitle %}Edit Item{% endblock %}
{% block formAction %}{% endblock %}
{% block formContent %}
    <div class="row">
        <div class="large-12 columns">
            <label for="id_name" class="{% if form.name.errors %}error{% endif %}"/>Name:
            {{ form.name }}
            </label>
            {% if form.name.errors %}
            <small class="error">Please enter a name for this item</small>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block saveButtonText %}Save{% endblock %}
{% block cancelURL %}{% url 'lists:item_index' %}{% endblock %}
