html {
    overflow-y: scroll; 
}

/*
    List Styles
 */
div.fancylist {

}

div.fancylist > h1.listTitle {
    display: inline-block;
}

div.fancylist > p.listDescription {
    
}

div.fancylist > span.removeList {
    padding-left: 10px;
}

div.fancylist > div.addCategory {
    padding-top: 10px;
    padding-bottom: 10px;
}


/*
    Category Styles
 */
div.categoryContainer {
    text-align: center;
}

div.category {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    width: 90%;
    min-width: 300px;
    display: inline-block;
    text-align: left;
}

div.category > h3.categoryTitle {
    display: inline-block;
}

div.category > span.removeCategory {
    padding-left: 10px;
}

div.category > span.showHideCategory {
    float: right;
}

div.category > span.remove-category > form.removeCategoryForm {
    display: inline;
}

div.category > div.categoryContents > div.addItem {

}

div.category > div.categoryContents > div.addItem > form.addItemForm {

}

div.category > div.categoryContents > div.item {
    
}

div.category > div.categoryContents > div.item > span.removeItem {
    padding-left: 10px;
}

div.category > div.categoryContents > div.item > span.removeItem > form.removeItemForm {
    display: inline;
}