{% extends "FancyLists/edit_base.html" %}

{% block pageTitle %}New Category{% endblock %}
{% block formAction %}{% url 'lists:new_category' %}{% endblock %}
{% block formContent %}
    <div class="row">
        <div class="large-12 columns">
            <label for="id_name" class="{% if form.name.errors %}error{% endif %}">Name:
            {{ form.name }}
            </label>
            {% if form.name.errors %}
            <small class="error">Please enter a name for this category</small>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block saveButtonText %}Create{% endblock %}
{% block cancelURL %}{% url 'lists:category_index' %}{% endblock %}
