<div class="category">
    <input type="hidden" name="fancylistcategory_id" value="{{ fancylistcategory.id }}"/>
    
    <h3 class="categoryTitle"><i class="fi-list categoryHandle"></i> {{ fancylistcategory.Category.name }}</h3>
    <span class="removeCategory">[<a href="#">Remove</a>]</span>

    <span class="showHideCategory"><i class="fi-arrows-out showCategory" style="display: none;"></i><i class="fi-arrows-in hideCategory"></i></span>

    <div class="categoryContents">
        <div class="addItem">
            {% if all_items|length > 0 %}
                <select class="item_id" name="item_id" value="">
                    <option value="">Add an Item</option>
                    {% for item in all_items %}
                        <option value="{{ item.id }}">{{ item.name }}</option>
                    {% endfor %}
                </select>
            {% endif %}
        </div>

        <div class="itemContainer">
            {% for fancylistcategoryitem in fancylistcategory.sortedItems %}
                {% include "lists/fancylistcategoryitem.html" %}
            {% endfor %}
        </div>
    </div>
</div>