<div class="item">
    <input type="hidden" name="fancylistcategoryitem_id" value="{{ fancylistcategoryitem.id }}"/>
    <form class="reorderItemForm" action="{% url 'lists:index_reorder_item' fancylistcategoryitem.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="item_position" value="" />
    </form>
    <i class="fi-list"></i>
    <span class="itemName">{{ fancylistcategoryitem.Item.name }} ({{ fancylistcategoryitem.display_order }})</span>
    <span class="removeItem">
        <form class="removeItemForm" action="{% url 'lists:index_remove_item' fancylistcategoryitem.id %}" method="post">
            {% csrf_token %}
            [<a href="#">Remove</a>]
        </form>
    </span>
</div>