{% extends "FancyLists/base.html" %}

{% block content %}
    <div class="row">
        <div class="large-12 columns">
            {% if latest_list %}
                <h1>{{ latest_list.name }}</h1>
                <p>Created on {{ latest_list.created_date }}</p>
                <p><a href="{% url 'lists:delete_list' latest_list.id %}">Delete</a> this list</p>
                
                <h2>Categories</h2>
                <div style="padding-top: 10px; padding-bottom: 10px;">
                    {% if all_categories|length > 0 %}
                        <form id="addCategoryForm" action="" method="post">
                            {% csrf_token %}
                            <select id="category_id" name="category_id" value="">
                                <option value="">Add a Category</option>
                                {% for category in all_categories %}
                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </form>
                    {% endif %}
                </div>
                {% if latest_list.category_set.count > 0 %}
                    {% for category in latest_list.category_set.all %}
                        <h3>{{ category.name }}</h3>
                        <form class="removeCategoryForm" action="" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="list_id" value="{{ latest_list.id }}" />
                            <input type="hidden" name="category_id" value="{{ category.id }}" />
                            <p><a href="#">Remove</a> this category</p>
                        </form>
                        <h4>Items</h4>
                        {% if category.item_set.count > 0 %}
                            {% for item in category.item_set.all %}
                                <div>{{ item.name }} &nbsp; <a href="{% url 'lists:remove_item' item.id %}">Remove</a> this item</div>
                            {% endfor %}
                        {% endif %}

                    {% endfor %}
                {% endif %}

            {% else %}
                <p>No lists!  Click <a href="{% url 'lists:new_list' %}">here</a> to make one.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}