{% extends "FancyLists/base.html" %}

{% block content %}
    <div class="row">
        <div class="large-12 columns">
            <h1>Lists</h1>
            <p><a href="{% url 'lists:new_list' %}">Add New</a></p>
            {% for list in lists %}
            <div style="padding: 10px;">{{ list.name }}
                <span style="padding-left: 10px;">
                    [<a href="{% url 'lists:index' list.id %}">Edit</a>]
                    [<a href="{% url 'lists:delete_list' list.id %}">Delete</a>]
                </span>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}